
{% extends "/Bases/StandardWebPage.html.twig" %}

{% block content %}
<h1>Auxilium Schemas</h1>
<p>This is a reserved domain for the proper functioning of <a href="https://auxiliumsoftware.co.uk/">Auxilium</a>, a combined customer relationship and case management system.</p>
<p>You're probably looking for our main website <a href="https://auxiliumsoftware.co.uk/">auxiliumsoftware.co.uk</a>.</p>
<p>If you're here to build software that works with Auxilium, you can browse conforming node schemas in the <a href="/v1/">/v1/</a> folder.</p>
<p><em>Thank you for your interest in Auxilium!</em></p>
{% endblock %}

