<!DOCTYPE html>
<html>
    <script src="moz-extension://0129340b-87f3-41a7-9fa4-93d24c29f484/content/fido2/page-script.js" id="bw-fido2-page-script"></script><head>
        <title>Auxilium Schemas</title>
        <style>
            body {
                max-width: 35rem;
                margin: 0 auto;
                padding: 2rem;
                font-family: Helvetica, Tahoma, Verdana, Arial, sans-serif;
            }
        </style>
    </head>
    <body>
    {% block content %}
    {% endblock %}
    </body>
</html>
